body{
    margin-top: 4rem;
    
    table {
        border:solid black;
        background-color: #ffecb1;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
        width: 100%;
        
    }
    
    th{
        border: 1px solid black;
        padding: 8px;
        max-width: 350px;
        word-wrap: break-word;
        white-space: pre-wrap; // This property ensures that the text wraps without truncating it
    
        a{
            text-decoration: none;
            color: black;
        }
    }

    td{
        border: 1px solid black;
    }
    .message-cell {
        padding-left: 10px;
        max-width: 200px;
        word-wrap: break-word;
        white-space: pre-wrap; // This property ensures that the text wraps without truncating it
    }
    
    button{
        background-color: orange;
    }
    .more{
        margin: 0 auto;
        background-color: #ffecb1;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
        width: 100%;
        text-wrap: wrap;
    }
}