nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff0000;
  z-index: 3;
  opacity: 85%;
  ul {
    display: flex;
    padding: 0;
    margin: 0.5rem;

    li {
      display: flex;
      position: relative;

      a {
        display: inline-block;
        padding: 1rem;
        color: #fff;
      }
    }
  }

  .nav-container{
    padding: 0 1rem;
  }

  .main-menu {
    ul > li > a {
      text-decoration: none;

      &:hover {
        background-color: #fff3;
      }
    }
  }
}
#progress-bar {
  background-color: #95ff008d; /* Change color as needed */
  height: 5px;
  width: 0;
  transition: width 0.001s ease-in-out; /* Smoother transition */
}

