/* Algemene stijl */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigatiebalk stijl */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  z-index: 3;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .logo {
      color: #fffefe;
      font-family: "Outfit", sans-serif;
      font-size: 1.5rem; /* Voorbeeld grootte, pas aan zoals nodig */
      margin-right: auto; /* Zet de logo helemaal links */
    }

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        margin-right: 1rem;

        a {
          text-decoration: none;
          color: #fff;
          padding: 1rem;

          &:hover {
            background-color: #fff3;
          }
        }
      }
    }
  }
}

