* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.remember-forgot a,
	.register-link a {
		color: rgb(50, 0, 176);

		&:hover {
			color: rgb(255, 255, 255);
		}
	}

	#password,
	#admin_name {
		width: 300px;
		margin: 0.5rem auto;
	}

	#Gebruikersnaam,
	#Wachtwoord {
		position: relative;
	}

	i {
		position: absolute;

		&.bxs-user {
			top: 20px;
			right: 15px;
		}

		&.bxs-lock-alt {
			top: 20px;
			right: 15px;
		}
	}

	#button {
		margin-top: 0.5rem;
		width: 300px;
		align-items: center;
	}
}
