@use "_base";
@use "_text-options";

@use "_navbar";
@use "_banner";

@use "_flex-grid";
@use "_flex-options";

@use "_conf";
@use "_footer";   

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


//Fonts
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

// styling voor scrollen

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #0000008d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
  border-radius: 50px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}

//
main{
  display: flex;
  flex-direction: column;
}
img.round {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

//FAQ styling
.faqH2 h2{
  text-align: center;
}


 

 
 


.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    &.active {
        max-height: 500px; // Stel hier een passende waarde in voor de maximale hoogte van het paneel
    }
}

//
.logo {
  max-width: 70px;
  display: flex;
  align-items: center;
}

//styling voor de bubbles
.bubbleTop {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #ffffff8d;// was #bdbdbd
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 50px 50px;
}

.bubble {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #ffffff8d;// was #bdbdbd
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  scroll-margin-top: 4em;

}

.bubble-table {
  max-width: 1500px;
  width: 100%;
  margin: 3rem auto 1rem;
  padding: 40px;
  background-color: #0000008d;// was #bdbdbd
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  scroll-margin-top: 4em;

}



//homepage styling

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero img.sneakerIMG {
  padding-top: 2.5rem;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  position: static;
}

.hero .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.bubble-login {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 20px 40px;
  background-color: #0000008d;// was #bdbdbd
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.bubble-1 {
  max-width: 800px; // Beperk de maximale breedte van de container
  width: 100%;
  margin: 1rem auto;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: flex;
  flex-direction: column; // Flexbox voor de elementen binnen de bubble
  justify-content: center; // Horizontaal gecentreerd
  align-items: center; // Verticaal gecentreerd
  text-align: center;
}   
.maps{
   border-radius: 25px;
   width: 100%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

// styling voor side menu
.side_menu_open {
  margin-top: 1rem;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  margin-top: 4.2rem;
  top: 0;
  // left: 0;
   right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav.opened {
  width: 250px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  transition: 0.5s;
  color: #0000008d;
}

.side_menu_open:hover {
  transition: 0.5s;
  color: #0000008d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
//
.user{
  max-width: 400px;
}

.h1{
  display: flex;
  justify-content: center;
}

// styling for contact form
// form{
//   display: flex;
// }

textarea,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"]{
  align-content: center;
  padding-left: 1rem;
  height: 2rem;
  border-radius: 50px;
}

textarea{
  border-width: 2.35px;
  margin-bottom: 1rem;
}

.contact{
  p{
    font-size: xx-large;
  }
}

// Button styling
.scrolTop{
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border-radius: 50px;
  border: solid;
  border-width: 1px;
  position: sticky;
  bottom: 10px;
  transition: 0.5s;
  scale: 1.5;
  font-weight: bolder;
  
  &:hover{
    font-weight: bold;
    scale: 1.8;
    background-color: #0000008d;
    border-width: 5px;
  }
  
  span{
    display: flex;
    align-items: center;
    rotate: 90deg;
  }
}

#toTheTop{
  justify-content: center;
  align-items: center;
}

button[type="submit"],
input[type="submit"],
#myBtn,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8,
#myBtn9{
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.5s;

  
  &:hover{
    font-weight: bold;
    scale: 1.1;
    background-color: #0000008d;
    border-width: 5px;
  }
}

#meerInfo{
scroll-margin-top: 4em;
}

button.ReadMore{
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50px;
  transition: 0.5s;

  &:hover{
    font-weight: bold;
    scale: 1.05;
    background-color: #0000008d;
    border-width: 5px;
  }
}

button.answer,
button.home{
  cursor: pointer;
  padding: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  border-radius: 50px;
  transition: 0.5s;

  &:hover{
    font-weight: bold;
    scale: 1.05;
    background-color: #0000008d;
    border-width: 5px;
  }

  &.home{
    margin-top: .5rem;
  }
}


// styling voor uitklap meer info

#more,
#more2,
#more3,
#more4,
#more5,
#more6,
#more7,
#more8,
#more9{
  display: none;
}

#myBtn,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8,
#myBtn9{
  rotate: 90deg;
  scale: 1.5;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bubble-contact {
  max-width: 1500px;
  width: 100%;
  align-self: start;
  margin-bottom: 1rem;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  
}
.faq-item {
  display: flex;
  justify-content: center; // Horizontaal gecentreerd
  align-items: center; // Verticaal gecentreerd
  width: 100%;
  text-align: center;
}

.progress-container {
  position: absolute;
  bottom: 0; /* Zet het aan de onderkant van de nav */
  left: 0;
  width: 100%;
  height: 4px;
  background: #000000;
}

.progress-bar {
  height: 4px;
  background: #ffffff;
  width: 0%;
}

.eventBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: calc(100% / 3 - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
  border: 0.3rem solid #000000; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.events {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: calc(100% / 3 - 40px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #000000;
  border: 2px solid #000000; 
}

.date {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.image {
 width: 100%;
 height: auto;
 position: absolute; // Absolute positionering
 top: 0;
 left: 0;
 z-index: 1; // Lage z-index zodat tekst eroverheen ligt
 border-radius: 10px; // Zorgt ervoor dat de afbeelding de hoeken volgt
}

.view-all {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

//main home page

.whatIsSneakerness {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  gap: 40px;
  margin-top: 30px;
}

.sneakerJPG {
  flex: 1;
  max-width: 50%;
}

.sneakerJPG img {
  width: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.sneakerJPG:hover img {
  transform: scale(1.05);
}

.textContent {
  flex: 1;
  text-align: left;
}

.title {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 20px;
  color: #222;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 1.3em;
  line-height: 1.8;
  color: #666;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.button {
  background-color: #ff4500;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #e63e00;
  transform: translateY(-5px);
}