// Variables
$primary-color: #ff4500;
$secondary-color: #222;
$background-color: #f4f4f4;
$font-family: 'Helvetica Neue', sans-serif;

// Mixins
@mixin transition($time) {
    transition: all $time ease;
}


.container {
    width: 80%;
    margin: 0 auto;
}

h2, h3 {
    color: $secondary-color;
}

button {
    background-color: $primary-color;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    @include transition(0.3s);

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

// Stand Verkoop Section
.stand-verkoop {
    padding: 50px 0;
    
    

    .stand-intro {
        text-align: start;
        margin-bottom: 40px;

        h2 {
            text-align: start;
            font-size: 2.5rem;
        }

        p {
            text-align: start;
            font-size: 1.1rem;
            color: lighten($secondary-color, 10%);
        }
    }
    .stand-cards {
        gap: 20px;


        .stand-card {
            background-color: rgb(101, 100, 100);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            flex: 1;

           

            .stand-img{
            height: 12rem;
            max-width: 100%;
            border: none;
            border-radius: 0;
            box-shadow: none;
            }
        }
    }


}

