/* Algemene stijlen */

body {
    background-color: #333030;
    color: #fff;
    font-family: "Montserrat", sans-serif;

    header {
        padding: 20px;
        text-align: center;

        img {
            height: 50px;
            width: auto;
        }
    }

    main {
        padding: 20px;

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        h2 {
            margin-bottom: 10px;
        }
    }
}

/* FAQ-stijlen */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolommen met gelijke breedte */
    gap: 20px; /* Ruimte tussen de knoppen */
    margin: 0 auto; /* Horizontaal centreren */
    max-width: 800px; /* Optioneel: pas de maximale breedte van de FAQ-sectie aan */
}

.accordion {
    background-color: #444;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    &.active,
    &:hover {
        background-color: #ccc;
    }
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    &.active {
        max-height: 500px; // Stel hier een passende waarde in voor de maximale hoogte van het paneel
    }
}

