body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h3 {
  color: rgba(47, 61, 57, 0.8);
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  color: rgba(69, 90, 84, 0.8);
  line-height: 1.8;
}

.header__container {
  display: grid;
  gap: 2rem 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  z-index: -1;
}

.header__content h2 {
  position: relative;
  isolation: isolate;
  margin-bottom: 2rem;
  font-size: 2.75rem;
  font-weight: 800;
  color: black;
  line-height: 3.25rem;
}
.header__content h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 4px;
  width: 2rem;
  background-color: #fe5b3e;
}

.header__content p {
  margin: 2rem 0;
  font-weight: 500;
  color: black;
  line-height: 1.75rem;
}

.header__container {
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-bottom: 150px;
  margin-top: 20px;
}

.header__container::before {
  right: 5rem;
  width: calc(50% - 4rem);
  height: 100%;
}

.header__image {
  grid-column: 3/6;
}

.header__content {
  grid-area: 1/1/2/3;
}

button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #cc3700;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.stand-verkoop {
  padding: 70px 0;
  background-color: #fff;
}
.stand-verkoop .stand-intro {
  text-align: start;
  margin-bottom: 4rem;
}
.stand-verkoop .stand-intro h2 {
  font-size: 2.8rem;
  color: #ff4500;
  text-transform: uppercase;
}
.stand-verkoop .stand-intro p {
  font-size: 1.2rem;
  color: rgba(3, 3, 3, 0.8);
  max-width: 700px;
  min-width: 50rem;
}
.stand-verkoop .stand-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #e0e0e0;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.stand-verkoop .stand-cards .stand-card {
  background-color: rgba(47, 61, 57, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: collum;
  justify-content: space-between;
  padding: 20px;
  min-height: 34rem;
  max-height: auto;
  transition: all 0.3s ease;
}
.stand-verkoop .stand-cards .stand-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.stand-verkoop .stand-cards .stand-card .stand-img {
  height: 12rem;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.stand-verkoop .stand-cards .stand-card .stand-img:hover {
  transform: scale(1.1);
}
.stand-verkoop .stand-cards .stand-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.stand-verkoop .stand-cards .stand-card p.cardP {
  font-size: 1.1rem;
  color: white;
  font-size: medium;
}
.stand-verkoop .stand-cards .stand-card p.cardP span {
  font-weight: bold;
  font-size: larger;
}
.stand-verkoop .stand-cards .stand-card .price {
  font-size: 1.5rem;
  color: #ff4500;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.stand-verkoop .stand-cards .stand-card button {
  margin-top: 15px;
}

.stand-cards2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #e0e0e0;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.stand-cards2 .stand-card2 {
  background-color: rgba(47, 61, 57, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: collum;
  justify-content: space-between;
  padding: 20px;
  min-height: 34rem;
  max-height: auto;
  margin-top: 4rem;
  transition: all 0.3s ease;
}
.stand-cards2 .stand-card2:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.stand-cards2 .stand-card2 .stand-img {
  height: 12rem;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.stand-cards2 .stand-card2 .stand-img:hover {
  transform: scale(1.1);
}
.stand-cards2 .stand-card2 h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.stand-cards2 .stand-card2 p.cardP {
  font-size: 1.1rem;
  color: white;
  font-size: medium;
}
.stand-cards2 .stand-card2 p.cardP span {
  font-weight: bold;
  font-size: larger;
}
.stand-cards2 .stand-card2 .price {
  font-size: 1.5rem;
  color: #ff4500;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.stand-cards2 .stand-card2 button {
  margin-top: 15px;
}

.noto_Font {
  font-family: "Noto Serif Ahom", serif;
  font-weight: 400;
}

.scroll {
  color: #ff4500;
  text-decoration: none;
  font-weight: bold;
}
.scroll:hover {
  color: #cc3700;
  text-decoration: underline;
  transition: color 0.3s ease;
}

/*# sourceMappingURL=stand.css.map */
