body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h2,
h3 {
  color: rgba(47, 61, 57, 0.8);
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  color: rgba(69, 90, 84, 0.8);
  line-height: 1.8;
}

button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #cc3700;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.ticket-verkoop {
  padding: 70px 0;
  background-color: #fff;
}
.ticket-verkoop .ticket-intro {
  text-align: center;
}
.ticket-verkoop .ticket-intro p {
  margin: 0 auto;
}
.ticket-verkoop h2 {
  font-size: 2.8rem;
  color: #ff4500;
  text-transform: uppercase;
}
.ticket-verkoop p {
  font-size: 1.2rem;
  color: rgba(3, 3, 3, 0.8);
  max-width: 700px;
}

.ticket-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.ticket-cards .ticket-card {
  background-color: rgba(47, 61, 57, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  min-height: 34rem;
  max-height: auto;
  transition: all 0.3s ease;
}
.ticket-cards .ticket-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.ticket-cards .ticket-card .ticket-img {
  height: 12rem;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.ticket-cards .ticket-card .ticket-img:hover {
  transform: scale(1.1);
}
.ticket-cards .ticket-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}
.ticket-cards .ticket-card p.cardP {
  font-size: 1.1rem;
  color: white;
  font-size: medium;
}
.ticket-cards .ticket-card p.cardP span {
  font-weight: bold;
  font-size: larger;
}
.ticket-cards .ticket-card .price {
  font-size: 1.5rem;
  color: #ff4500;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.ticket-cards .ticket-card button {
  margin-top: 15px;
}

.ticket-cards2 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.ticket-cards2 .ticket-card2 {
  background-color: rgba(47, 61, 57, 0.8);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  min-height: 34rem;
  max-height: auto;
  margin-top: 4rem;
  transition: all 0.3s ease;
}
.ticket-cards2 .ticket-card2:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.ticket-cards2 .ticket-card2 .ticket-img {
  height: 12rem;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.ticket-cards2 .ticket-card2 .ticket-img:hover {
  transform: scale(1.1);
}
.ticket-cards2 .ticket-card2 h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}
.ticket-cards2 .ticket-card2 p.cardP {
  font-size: 1.1rem;
  color: white;
  font-size: medium;
}
.ticket-cards2 .ticket-card2 p.cardP span {
  font-weight: bold;
  font-size: larger;
}
.ticket-cards2 .ticket-card2 .price {
  font-size: 1.5rem;
  color: #ff4500;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
.ticket-cards2 .ticket-card2 button {
  margin-top: 15px;
}

.highlight-link {
  color: #ff4500;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
  display: inline-block;
  font-size: 1.2rem;
}
.highlight-link:hover {
  color: #cc3700;
  text-decoration: none;
}

/*# sourceMappingURL=tickets.css.map */
